<h1>Border-radius Previewer</h1>

<div
  class="box"
  #box
  [formGroup]="formGroup"
  [style.borderTopLeftRadius]="topLeftStyle"
  [style.borderTopRightRadius]="topRightStyle"
  [style.borderBottomLeftRadius]="bottomLeftStyle"
  [style.borderBottomRightRadius]="bottomRightStyle"
>
  <div class="input-border-radius top-left-checkbox">
    <input type="checkbox" formControlName="sameValueTopLeft">
    <fa-icon
      [icon]="icon.faLock"
      *ngIf="formGroup.get('sameValueTopLeft')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueTopLeft'))"></fa-icon>
    <fa-icon
      [icon]="icon.faLockOpen"
      *ngIf="!formGroup.get('sameValueTopLeft')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueTopLeft'))"></fa-icon>
  </div>
  <input type="number" class="input-border-radius top-left-horizontal" formControlName="topLeftHorizontal" >
  <input type="number" class="input-border-radius top-left-vertical" formControlName="topLeftVertical" >

  <div class="input-border-radius top-right-checkbox">
    <input type="checkbox" formControlName="sameValueTopRight">
    <fa-icon
      [icon]="icon.faLock"
      *ngIf="formGroup.get('sameValueTopRight')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueTopRight'))"></fa-icon>
    <fa-icon
      [icon]="icon.faLockOpen"
      *ngIf="!formGroup.get('sameValueTopRight')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueTopRight'))"></fa-icon>
  </div>
  <input type="number" class="input-border-radius top-right-horizontal" formControlName="topRightHorizontal" >
  <input type="number" class="input-border-radius top-right-vertical" formControlName="topRightVertical" >

  <div class="input-border-radius bottom-right-checkbox">
    <input type="checkbox" formControlName="sameValueBottomRight">
    <fa-icon
      [icon]="icon.faLock"
      *ngIf="formGroup.get('sameValueBottomRight')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueBottomRight'))"></fa-icon>
    <fa-icon
      [icon]="icon.faLockOpen"
      *ngIf="!formGroup.get('sameValueBottomRight')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueBottomRight'))"></fa-icon>
  </div>
  <input type="number" class="input-border-radius bottom-right-horizontal" formControlName="bottomRightHorizontal" >
  <input type="number" class="input-border-radius bottom-right-vertical" formControlName="bottomRightVertical" >

  <div class="input-border-radius bottom-left-checkbox">
    <input type="checkbox" formControlName="sameValueBottomLeft">
    <fa-icon
      [icon]="icon.faLock"
      *ngIf="formGroup.get('sameValueBottomLeft')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueBottomLeft'))"></fa-icon>
    <fa-icon
      [icon]="icon.faLockOpen"
      *ngIf="!formGroup.get('sameValueBottomLeft')?.value as value"
      (click)="toggleValueCheckbox(formGroup.get('sameValueBottomLeft'))"></fa-icon>
  </div>
  <input type="number" class="input-border-radius bottom-left-horizontal" formControlName="bottomLeftHorizontal" >
  <input type="number" class="input-border-radius bottom-left-vertical" formControlName="bottomLeftVertical" >
</div>

<textarea #cssBorderRadius [value]="box.style.cssText" readonly></textarea>

<button (click)="copyCss()">Copy CSS</button>
